<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106602298457-lnhloa20o01o761h0901p1rnud1ct05k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106602298457-lnhloa20o01o761h0901p1rnud1ct05k</string>
	<key>API_KEY</key>
	<string>AIzaSyB6HW4oeHuV45oUN0r90Fe4g8hOWY0HDB0</string>
	<key>GCM_SENDER_ID</key>
	<string>106602298457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>local.gerchik.quiz.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-b2d6b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-b2d6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106602298457:ios:94d87c81f0417b9d870548</string>
</dict>
</plist>